:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* ใช้โหมด light ธรรมดา */
  color-scheme: light;
  color: #111827;
  background-color: #f3f4f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #f3f4f6;   /* หรือจะไม่ใส่ก็ได้ ให้ login.jsx คุมเอง */
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  min-height: 100vh;
}

/* ROOT DEFAULT (Light) */
body[data-theme="light"] {
  background: #f3f4f6;
  color: #111;
}

/* DARK MODE */
body[data-theme="dark"] {
  background: #0f172a;
}

/* card / box background */
body[data-theme="dark"] .card,
body[data-theme="dark"] .box,
body[data-theme="dark"] header {
  background: #1f2937 !important;
  color: #f9fafb !important;
}

/* dropdown */
body[data-theme="dark"] .dropdown {
  background: #1f2937 !important;
  color: #f9fafb !important;
}

/* input & button */
body[data-theme="dark"] input,
body[data-theme="dark"] button {
  background: #374151 !important;
  color: white !important;
  border-color: #4b5563 !important;
}

body[data-theme="dark"] .lift-card,
body[data-theme="dark"] header {
  background: #111827 !important;
  color: #f9fafb !important;
}

